<div class="page_wrapper">
  <!-- <div class="header">
    <h1>Branches</h1>
  </div> -->
  <div class="table-container">
    <div class="filter">
      <div class="row">
        <div class="col-3">
          <div class="form_group">
            <label for="">Name</label>
            <input type="text" placeholder="Name" class="w-100" />
          </div>
        </div>
        <div class="col-3">
          <div class="form_group">
            <label for="">Name</label>
            <input type="text" placeholder="Name" class="w-100" />
          </div>
        </div>
        <div class="col-2">
          <button
            class="btn main-btn px-4"
            [routerLink]="['/dashboard/branches/add_branch']"
          >
            Add new item
          </button>
        </div>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Numbers</th>
          <th>Letters</th>
          <th>Colors</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>1</td>
          <td>A</td>
          <td>Red</td>
        </tr>
        <tr>
          <td>2</td>
          <td>B</td>
          <td>Yellow</td>
        </tr>
        <tr>
          <td>3</td>
          <td>C</td>
          <td>Blue</td>
        </tr>
        <tr>
          <td>1</td>
          <td>A</td>
          <td>Red</td>
        </tr>
        <tr>
          <td>2</td>
          <td>B</td>
          <td>Yellow</td>
        </tr>
        <tr>
          <td>3</td>
          <td>C</td>
          <td>Blue</td>
        </tr>
        <tr>
          <td>1</td>
          <td>A</td>
          <td>Red</td>
        </tr>
        <tr>
          <td>2</td>
          <td>B</td>
          <td>Yellow</td>
        </tr>
        <tr>
          <td>3</td>
          <td>C</td>
          <td>Blue</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
