.create_page_wrapper {
    margin: 40px;

    h1 {
        font-size: 24px;
        color: #646262;
        text-transform: capitalize;
        color: teal;
        font-family: "Cairo-Medium";
    }
    .form {
        margin: 20px 0;
        background-color: #fff;
        border-radius: 12px;
        padding: 40px;
    }
}
